.InputContainer{
    width: 90%;
    margin: 1em 0;
}

.Input{
    width: 100%;
    height: 3em;
    border: none;
    padding: 0 2em;
    color: #f5f6ff;
    margin-top: 0.5em;
    border-radius: 2em;
    background-color: #fff1;
    border-top: 1px solid #fff1;
    border-left: 1px solid #fff1;
    box-shadow: 0 0 0.5em #0002;
}

.Input::placeholder{
    color: #9193a3;
}