* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    color: #ccc;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #15183b;
    font-family: Roboto, sans-serif;
}

header {
    width: 90vw;
    height: 10vh;
    padding-top: 25px;
}

.container {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#display {
    font-size: 4em;
    margin-bottom: 20px;
}

#input {
    width: 60vw;
    height: 7vh;
    border: none;
    font-size: 1em;
    padding: 0 15px;
    color: #333333;
    border-radius: 1.5em;
    box-sizing: border-box;
}

#input:focus {
    outline: none;
}

footer {
    height: 10vh;
    max-width: 70vw;
    padding: 15px 25px;
    border-top: 1px solid #aaa;
}

a:visited, a:active, a:link {
    margin-left: 5px;
    color: rgb(40, 255, 111);
}

a:hover {
    color: rgb(39, 206, 95);
}