* {
    border: none;
    color: #ccc;
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    background-color: #071e3d;
    font-family: Roboto, sans-serif;
}

/* Layout */

#container {
    width: 25em;
    height: 90vh;
    padding: 2em;
    margin: 5vh auto;
    border-radius: 1em;
    background-color: #071e3d;
    box-shadow: 0 0 10px #0006;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Content */

#display {
    margin-top: 0;
    font-size: 3em;
    margin-bottom: 2em;
}

#input {
    width: 100%;
    height: 3em;
    padding: 0 2em;
    border-radius: 2em;
    background-color: #051831;
}

#input:focus {
    outline: none;
}

a:visited, a:active, a:link {
    color: #17b978;
    margin-left: 5px;
    font-weight: 600;
}

a:hover {
    color: #12915e;
}